.article {
  display: inline-block;
  width: 29%;
  height: 200px;
  background: #11bbb1;
  margin:1px auto;
  margin-left:1%;
}
.catalog{
  width: 100%;
  margin: 1% auto;
}
.text{
  text-align: center;
  padding: 1px;

}
.title{

}
.author{
  color: #111
}
