body{
  
}
.header {
  overflow: hidden;
  background-color: #11bbb1;
  padding: 20px 10px;
  border-bottom:1px solid black;
}

/* Стиль ссылок шапки */
 a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
  font-weight: bold;
}

/* Стиль ссылки логотипа */
.header a.logo {
  font-size: 25px;
  font-weight: bold;

}

/* Изменение цвета фона при наведении курсора */
 a:hover {
  background-color: #fff;
  color: black;
}


/* Сдвигаем секцию со ссылками вправо */
.header-right {
  float: right;
}
#menu_block
{
  margin: 0;
  background: #fff;
  overflow: hidden;
  border-bottom:1px solid black;
}

#menu_btn
{
  background:#fff;
  padding: 10px;
  color: #111;
  cursor:pointer;
  border: none;
}
#menu_btn:hover
{
  border-size: 0px #111;
  background: #111;
  color: #ffffff;
  
}

.lft
{
  position: flex;
  float: left;
}

.article {
  display: inline-block;
  width: 24%;
  background: #11bbb1;
  margin:1px auto;
}
.catalog{
  width: 100%;
  margin: 1% auto;
}
.text{
  text-align: center;
  padding: 1px;

}
.title{

}
.author_name{
  font-weight: bold;
  font-size: 16px;

}
.author{
  color: #111
}
.title_f{
  text-align: center;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}
.article_f{
  width: 100%;
  margin: 10px,10px;
  background: #11bbb1;
}
.article_f p{
  font-size: 20px;
}
.text_f >p{
  font-size: 20px;
  padding: 5%;

}
table td{
  border: 1px solid black;
  padding: 10px;
  font-weight: bold;



}
.add_article_main{
  background: #11bbb1;
  width: 50%;
  margin:auto;
    border-radius: 4px;



}
.add_article div{
 
}
.input{
  width: 100%;
  
}
.vvod{
  width: 100%;

}
.categor_add{
  width: 100%;
  font-size: 12px;

}
.vvod, .categor_add, #statya {
  width: 80%;
  height: 32px;
  box-shadow: 0px 10px 20px #000;
  margin:20px 10% 0 10%;

  background: #fff1f1f0;
  font-weight: bold;
  border-radius: 4px;


 }
 #statya{
  resize: none;

  height: 150px;
  display: inline-block;
  overflow: auto;
}

 }
 .button_add{
  width: 100%;
  display: block;
 }
 .but{
  color: #111;
  font-weight: bold;
  background: #fff1f1f0;
  width: 40%;
  height: 35px;
  margin-left: 30%;
  margin-bottom: 3%;
  margin-top: 3%;

 }
 .but:hover{
  background: #111;
  color:#fff1f1f0;
 }

 .user_table{
  background: #11bbb1;
  padding: 0;
 }
 .user_table .menu_button:hover{
  padding: 0;
 }
 a{

 }
 .comment_block{
  background: #fff1f1f0;
  margin:0;
  border-radius:5px;
  width: 30%;
 }
 .comment_block p {
  padding: 10px;
  background: #dfdf431f;
 }
 .comment_block p:first-child {
background: #11bbb1;
 }
#menu_btn2
{
  background:#111;
  padding: 10px;
  color: #fff;
  cursor:pointer;
  border: none;
}

.comments{
  background: #dfdf431f;
  width: 30%;
}
textarea{
  resize:none;
}
label{
  font-weight: bold;
}